<head>
    <link href="views/style.css" rel="stylesheet" type="text/css">
</head>

<div class="page">

<img id="logo" src="views/duck2.png" height=60>

<h1>Duck Duck Code</h1>

<div class="topnav">
    <a class="active" href="/home">Home</a>
    <a href="/python">Python</a>
    <a href="/java">Java</a>
    <a href="/quizzes">Quizzes</a>
    <% if (name == null) { %>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    <% } else { %>
    <a href="/createquiz">Create A Quiz</a>
    <a class="account">Welcome Back <%= name %>!</a>
    <form action="/logout?_method=DELETE" method="POST">
        <button class="logout"type="submit">Log Out</button>
    </form>
    <% } %>
</div>

<h2>Duck Duck Code is a website designed as a teaching aid for learning Computer Science. During times when remote learning can be difficult and what the future holds is unknown, being able to have a stable way for teachers and students to communicate is essential. Through custom quizzes, and premade coding prompts, students can flourish through a virtual learning environment.</h2>

<br>

<h3>Updates</h3>
<h4>5.27.21</h4>
<ul>Quiz update</ul>
<ul>CSS overlift</ul>
<h4>5.6.21</h4>
<ul>Website is live.</ul>
<h4>5.5.21</h4>
<ul>Coding prompts updated.</ul>
<h4>4.29.21</h4>
<ul>Coding prompts updated.</ul>
<h4>01.01.21</h4>
<ul>The idea was born.</ul>

</div>