<head>
    <link href="views/style.css" rel="stylesheet" type="text/css">
</head>

<div class="page">

<img id="logo" src="views/duck2.png" height=60>
<h1>Java Programming</h1>

<div class="topnav">
    <a href="/home">Home</a>
    <a href="/python">Python</a>
    <a class="active" href="/java">Java</a>
    <a href="/quizzes">Quizzes</a>
    <% if (name == null) { %>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    <% } else { %>
    <a href="/createquiz">Create A Quiz</a>
    <a class="account">Welcome Back <%= name %>!</a>
    <form action="/logout?_method=DELETE" method="POST">
        <button class="logout"type="submit">Log Out</button>
    </form>
    <% } %>
</div>

<h2>Unit 0 - Hello World</h2>
<a href="http://tpcg.io/sECqzD6K" target="_blank" rel="noopener noreferrer"><h4>Hello World</h4></a>
<h2>Unit 1 - Basics</h2>
<a href="http://tpcg.io/NbLsZb3x" target="_blank" rel="noopener noreferrer"><h4>Concatenation</h4></a>
<a href="http://tpcg.io/w8UBnBvb" target="_blank" rel="noopener noreferrer"><h4>Variables</h4></a>
<a href="http://tpcg.io/K7WaiaX9" target="_blank" rel="noopener noreferrer"><h4>Operations</h4></a>
<a href="http://tpcg.io/KNHH6HCX" target="_blank" rel="noopener noreferrer"><h4>Scanners</h4></a>
<h2>Unit 2 - Conditionals</h2>
<a href="http://tpcg.io/zFmP1Rkn" target="_blank" rel="noopener noreferrer"><h4>Conditional Statements</h4></a>
<a href="http://tpcg.io/PfLcqWMe" target="_blank" rel="noopener noreferrer"><h4>If, Else, and If Else</h4></a>
<a href="http://tpcg.io/M6gV3r38" target="_blank" rel="noopener noreferrer"><h4>Challenge 1</h4></a>
<h2>Unit 3 - Arrays</h2>
<a href="http://tpcg.io/2dlNV9WY" target="_blank" rel="noopener noreferrer"><h4>Intro to Arrays</h4></a>
<a href="http://tpcg.io/M9FJ8XdH" target="_blank" rel="noopener noreferrer"><h4>Arrays 2</h4></a>
<h2>Unit 4 - Loops</h2>
<a href="http://tpcg.io/2MwCvffO" target="_blank" rel="noopener noreferrer"><h4>While Loops</h4></a>
<a href="http://tpcg.io/y5p4E1LA" target="_blank" rel="noopener noreferrer"><h4>For Loops</h4></a>
<h2>Unit 5 - Challenges</h2>
<a href="http://tpcg.io/l4a2jLuS" target="_blank" rel="noopener noreferrer"><h4>Challenge 2</h4></a>

</div>