<head>
    <link href="views/style.css" rel="stylesheet" type="text/css">
    <link href="views/quiz.css" rel="stylesheet" type="text/css">
</head>

<img id="logo" src="views/duck.jpg" height=60>
<h1>Quizzes</h1>

<div class="topnav">
    <a href="/home">Home</a>
    <a href="/python">Python</a>
    <a href="/java">Java</a>
    <a class="active" href="/quizzes">Quizzes</a>
    <% if (name == null) { %>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    <% } else { %>
    <a class="account">Welcome Back <%= name %>!</a>
    <form action="/logout?_method=DELETE" method="POST">
        <button class="logout"type="submit">Log Out</button>
    </form>
    <% } %>
</div>

<form id="frm1">
    <input type="radio" id="quiz1" name="quiz" value="1">
    <label for="quiz1">Quiz1</label><br>
    <input type="radio" id="quiz2" name="quiz" value="2">
    <label for="quiz2">Quiz2</label><br>
  </form> 
  <div class="body2">
    <div id="progress">
      <p>Correctly Answered: </p>
      <p id="correctlyAnswered">0</p>
      <p>Incorrectly Answered: </p>
      <p id="incorrectlyAnswered">0</p>
      <p>Remaining: </p>
      <p id="remaining">0</p>
    </div>
    <div class="body3">
      <div class="container">
        <div id="question-container" class="hide">
          <div id="question">Question</div>
          <div id="answer-buttons" class="btn-grid">
            <button class="btn">Answer 1</button>
            <button class="btn">Answer 2</button>
            <button class="btn">Answer 3</button>
            <button class="btn">Answer 4</button>
          </div>
        </div>
        <div class="controls">
          <button id="start-btn" class="start-btn btn">Start</button>
          <button id="next-btn" class="next-btn btn hide">Next</button>
        </div>
      </div>
    </div>
  </div>